<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../layui/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<table class="layui-hide" id="test"></table>


<script src="../../layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#test',
            url:'/pmsbookinfo/selectPage',
            cellMinWidth: 80, //全局定义常规单元格的最小宽度，layui 2.2.1 新增,
            cols: [
                [
                    {field:'id', title: 'ID', sort: true},
                    {field:'name', title: '名称'},
                    {field:'writerName',title: '作者'},
                    {field:'publishDate', title: '发布时间'},
                    {field:'createDate',title: '创建时间',sort: true}, //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增,
                    {field:'price', title: '价格', sort: true},
                    {field:'inventory', title: '库存', sort: true}

                ]
            ],
            page: true,
            response: {
                statusName: 'status' //数据状态的字段名称，默认：code
                ,statusCode: 200 //成功的状态码，默认：0
                ,msgName: 'message' //状态信息的字段名称，默认：msg
                ,countName: 'count' //数据总数的字段名称，默认：count
                ,dataName: 'data' //数据列表的字段名称，默认：data
            },
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "status": res.status, //解析接口状态
                    "message": res.message, //解析提示文本
                    "count": res.data.size, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            }

        });
    });
</script>

</body>
</html>