<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper
PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='cn.wt.zmweb.dao.TSysRolePermissionDao'>

	<resultMap type="cn.wt.zmweb.entity.TSysRolePermission" id="resultMap">
		<id column="id" property="id" />
		<result column="role_id" property="roleId" />
		<result column="permission_id" property="permissionId" />
	</resultMap>

	<!-- 公用的判断条 -->
	<sql id="configParamSql">
					<if test="roleId !=null  and  roleId!=0">
							and obj.role_id=#{roleId}
						</if>
					<if test="id !=null  and  id!=0">
							and obj.id=#{id}
						</if>
					<if test="permissionId !=null  and  permissionId!=0">
							and obj.permission_id=#{permissionId}
						</if>
	</sql>

	<select id="selectPage" resultMap="resultMap" parameterType="cn.wt.zmweb.entity.TSysRolePermission">
			SELECT * FROM t_sys_role_permission obj 
				<where>
					<include refid="configParamSql"/>
				</where>
	</select>

	<select id="selectList" resultMap="resultMap" parameterType="cn.wt.zmweb.entity.TSysRolePermission">
		select * from t_sys_role_permission
		<where>
				<if test="roleId !=null  and  roleId!=0">
				and role_id=#{roleId}
			</if>
				<if test="id !=null  and  id!=0">
				and id=#{id}
			</if>
				<if test="permissionId !=null  and  permissionId!=0">
				and permission_id=#{permissionId}
			</if>
		</where>
	</select>

	<select id="selectOne" resultMap="resultMap" parameterType="java.lang.Integer">
		select * from t_sys_role_permission where id = #{id}
	</select>

	<insert id="save" parameterType="cn.wt.zmweb.entity.TSysRolePermission">
		<![CDATA[insert into t_sys_role_permission(role_id,permission_id)
		values(#{roleId,jdbcType=INTEGER},#{permissionId,jdbcType=INTEGER})]]>
	</insert>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from t_sys_role_permission
		where id=#{id}
	</delete>

	<update id='update' parameterType='cn.wt.zmweb.entity.TSysRolePermission'>
		update t_sys_role_permission set
		role_id = #{roleId,jdbcType=INTEGER},
		id = #{id,jdbcType=INTEGER},
		permission_id = #{permissionId,jdbcType=INTEGER}
		where id=#{id}
	</update>

</mapper>

